.Page_Topo{
    
  width: 60vw;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.InvestPage{
  width: 70%;
  margin: auto;
}

.TiposInvest{
  width: 70%;
  margin: auto;
  padding-bottom: 25px;
}

.Alerta{
  width: 70%;
  margin: auto;
 text-align: center;
  margin-bottom: 15px;
}


.tabela{
  
  margin: auto;
  border: 2px solid black;
}

.TamanhoTab{
  border-radius: 16px;
  width: 55%;
  margin: auto;
  padding-bottom: 40px;
}

.botao{
  margin-top: 25px;
  margin-bottom: 25px;
}

.formulario{
 
  display: grid;
  place-items: center;
  border-radius: 16px;
}

.CorpoForm{
  margin-bottom: 8vh;
  margin-left: 18vw;
  margin-right: 18vw;
  border-radius: 16px;
}

.form-check-input:checked {
  background-color: black;   
  border-color: black;      
}





@media (max-width: 768px) {
.Page_Topo{
  width: 95%;
  font-size: 10px;
}

.Alerta{
  width: 90vw;
}

.InvestPage .TiposInvest {
  width: 90vw;
}
.CorpoForm{
width: 85vw;
margin-right: 25vw;
margin-left: 3vw;;

}

.TamanhoTab{
  width: 90vw;

}


}

.noite{
  background-color: black;
  color: white;
}

.dia{
  background-color: white;
  color: black;

  
}