.Page_Topo{
    
  width: 80vw;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.InvestPage{
  width: 70%;
  margin: auto;
}

.TiposInvest{
  width: 70%;
  margin: auto;
  margin-bottom: 25px;
}

.Alerta{
  width: 70%;
  margin: auto;
 text-align: center;
  margin-bottom: 15px;
}


.tabela{
  
  margin: auto;
  border: 2px solid black;
}

.TamanhoTab{
  width: 55%;
  margin: auto;
}

.botao{
  margin-top: 25px;
  margin-bottom: 25px;
}

.formulario{
 
  display: grid;
  place-items: center;
  border-radius: 16px;
}

.CorpoForm{
  margin-left: 18vw;
  margin-right: 18vw;
  border-radius: 16px;
}

.form-check-input:checked {
  background-color: black;   
  border-color: black;      
}